<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="_csrf_token" th:content="${_csrf.token}"/>
    <meta name="_csrf_header"  th:content="${_csrf.headerName}"/>
    <title>登录页面</title>
    <link th:href="@{bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{bootstrap/css/bootstrap-theme.min.css}" rel="stylesheet">
    <style type="text/css">
        boby{
            padding-top: 50px;
        }
        .starter-template{
            padding: 40px 15px;
            text-align: center;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-inverse mavbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <div class="navbar-brand" href="#">Spring Security 演示</div>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a th:href="@{/}">首页</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="starter-template">
            <p th:if="${param.logout}" id="logoutMsg" class="bg-warning">已成功注销</p>
            <p class="bg-danger" id="errorMsg"></p>
            <h2>使用账号密码登录</h2>
            <form name="myAuthForm" id="myAuthForm" >
                <div class="form-group">
                    <label for="username">账号</label>
                    <input type="text" class="form-control" id="username" name="username" value="" placeholder="账号"/>
                </div>
                <div class="form-group">
                    <label for="password">密码</label>
                    <input type="password" class="form-control" id="password" name="password" value="" placeholder="密码"/>
                </div>
                <div class="form-group">
                    <label for="validateImageCode">验证码</label>
                    <input type="text" class="form-control"  id="validateImageCode" name="validateImageCode" value="" autocomplete="off" placeholder="验证码"/>
                    <img th:src="@{getValidateImageCode}"  onclick="changeImageCode()" id="imageCode" title="点击刷新" alt="点击刷新">
                </div>
                <div class="form-inline">
                    <div class="form-check">
                        <label class="form-check-label" for="remember-me">
                            <input class="form-check-input" type="checkbox" id="remember-me" name="remember-me">记住我
                        </label>
                    </div>
                </div>
                <input type="button" onclick="subMyAuthForm()" id="login" value="登录" class="btn btn-primary"/>
            </form>
        </div>
    </div>
</body>
<script th:src="@{jQuery/jquery-3.2.1.min.js}" type="text/javascript"></script>
<script th:src="@{bootstrap/js/bootstrap.min.js}" type="text/javascript"></script>
<script th:inline="javascript">
</script>
<script type="text/javascript">
    function changeImageCode() {
        document.getElementById('imageCode').setAttribute("src","getValidateImageCode?"+Math.random());
    }

    function subMyAuthForm() {
        $('#errorMsg').text('正在验证');
        $('#logoutMsg').text('');
        var form=new FormData(document.getElementById("myAuthForm"));
        var header = $("meta[name='_csrf_header']").attr("content");
        var token =$("meta[name='_csrf_token']").attr("content");
        console.log("=========================================");
        console.log("form---username:"+form.get('username'));
        console.log("form---password:"+form.get('password'));
        console.log("form---validateImageCode:"+form.get('validateImageCode'));
        console.log("form---remember-me:"+form.get('remember-me'));
        console.log("meta---_csrf:"+token);
        console.log("meta---_csrf_header:"+header);
        console.log("=========================================");
        $.ajax({
            url:'myAuth/login',
            type:'post',
            data:form,
            processData:false,// jQuery不要去处理发送的数据
            contentType:false,// jQuery不要去设置Content-Type请求头
            beforeSend : function(xhr) {
                xhr.setRequestHeader(header, token);
            },
            success:function (data) {
                console.log("state:"+data.state+"---msg:"+data.msg);
                if(data.state == '300'){
                    $('#errorMsg').text(data.msg);
                }else if(data.state == '200'){
                    window.location.href='/';
                }
            }
        })
    }

</script>
</html>